<template name="section">
  <div id="{{id}}" class="section">
    <div class="container">
      <h2 class="section-title">{{headline}}</h2>
      <p class="section-subtitle">{{detail}}</p>
    </div>
  </div>
</template>
