<template name="titlePage">
  <div class="title-section">
    <div class="container">
      <h1 class="section-title">{{dict 'site.title' 'No title'}}</h1>
      <p class="section-subtitle">{{dict 'site.description' 'No description'}}</p>
    </div>
  </div>
</template>
